[Unit]
Description=DHT22 to 1-wire Temp Conversion for OpenAuto Pro
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/.openauto/convert_temp/convert_temp.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
